
// here, we can edit text, font size, font weight, interlinia, text style,
$font-main: 'Source Sans Pro', sans-serif;

$color-nav: #a3a3a3;
$color-main:#BEA67C;
$color-light: #fff;
$color-dark:#000;

header {
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.container-header {
  max-width: 1000px;
  height: inherit;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 25px;
  font-family: $font-main;
  position: relative;
}

.logo {
  .logo_title{
    color: $color-light;
    font-family: $font-main;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 30px;
  }

  .logo_subtitle{
    color: $color-light;
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: 700;
  }
}


.main-nav {
  position: absolute;
  top: 30px;
  right: 0;

  a {
    margin-left: 20px;
    font-weight: 600;
    color: $color-nav;
    font-size: 18px;


  }

  a:hover {
    color: $color-main;
    text-decoration: none;
  }
}


.header-page-description {
  height: 500px;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .header_description_top {
    position: relative;
    color: $color-main;
    font-weight: 700;
    letter-spacing: 15px;
    font-size: 75px;
    top: 100px;
    left: 20px;

  }

  .header_description_bottom{
    position: relative;
    color: $color-main;
    font-weight: 700;
    letter-spacing: 15px;
    font-size: 75px;
    top: 80px;
    left: 170px;
  }
}

.header-page-description::after {
  position: absolute;
  content: "";
  bottom: 300px;
  left: 50%;
  width: 200px;
  height: 5px;
  transform: translateX(-50%);
  background: $color-main;
  bottom: 190px;
}

.header-bottom-elements{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  p{
    position: relative;
    color: $color-light;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 5px;

  }

  i{
    position: absolute;
    color: white;
    font-size: 25px;
    left: 50%;
    transform: translateX(-50%);

  }}

  // PRODUCTS


  .section-products{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .container{
    max-width: 1000px;
    display:flex;
    flex-direction: column;
    font-family: $font-main;
  }

  .header-wrapper{
    text-align: center;
    margin-bottom: 80px;
    position:relative;

  .products-header{
    margin: 0;
    font-weight: 700;
    color:$color-main;
    font-size: 45px;
    letter-spacing: 10px;
  }}


  .header-wrapper::after{
    position: absolute;
    content: "";
    left: 50%;
    width: 450px;
    height: 5px;
    transform: translateX(-50%);
    background: $color-main;
    top: 70px;
  }

.products-wrapper{
  display:flex;
  flex-direction: row;
  margin-bottom: 40px;

.products-wrapper-description{
  flex-basis: 50%;
  }}

  .img-wrapper{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-wrapper-right{
      width: 70%;
      height: auto;


    }

    .img-wrapper-left{
      width: 70%;
      height: auto;

    }
  }
